@font-face {
  font-family: 'ABCCamera-Regular';
  src: url('/ABCCamera-Regular.52746e65.woff') format('woff');
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.logo .logo-container .logo-img {
  width: 50px;
}

.logo .logo-container .logo-title {
  font-size: 2rem;
  margin: 0;
  color: #ffffff;
  font-family: 'ABCCamera-Regular', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .logo .logo-container .logo-title {
    font-size: calc(2rem + (6 - 2.5) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (min-width: 1280px) {
  .logo .logo-container .logo-img {
    width: 80px;
  }
  .logo .logo-container .logo-title {
    font-size: 4rem;
  }
}